
.container {
    padding: 0;
    display: block;
    @apply text-white min-h-screen;
}

.footer {
    text-align: center;
    border-top: 1px solid #eaeaea;
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
}









@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}

@media (prefers-color-scheme: dark) {
    .card,
    .footer {
        border-color: #222;
    }

    .code {
        background: #111;
    }

    .logo img {
        filter: invert(1);
    }
}


